<Configuration status="debug">
    <Properties>
        <Property name="LOG_PATTERN">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg - iteration step: %X{iteration}%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{${LOG_PATTERN}}"/>
        </Console>
        <File name="File1" fileName="nature.log" append="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <MarkerFilter marker="NATURE_MARKER" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
        <File name="File2" fileName="easter.log" append="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <MarkerFilter marker="EASTER_MARKER" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
        <File name="File3" fileName="unmarked.log" append="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <NoMarkerFilter onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
        <File name="File4" fileName="Gyorfi_Pal.log" append="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <TimeFilter start="20:00:00" end="05:00:00" timezone="UTC+02:00" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="File1"/>
            <AppenderRef ref="File2"/>
            <AppenderRef ref="File3"/>
            <AppenderRef ref="File4"/>
        </Root>
        <Logger name="pkg.Main" additivity="true">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>